* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    font-family: "calibri", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.1;
}

header{
    padding: 20px;
    background-color: #2874a6;
    color: white;
    border-bottom: 5px solid black;
    margin-bottom: 3px;
}

header h1 {
    display: inline;
    color: white;
    font-size: 44px;
}

header nav {
    display:flex;
    padding-top: 10px;
    margin-right:20px;
    float: right;
    font-size: 24px;
    color: white;
}

header nav ul {
    list-style-type: none;
    position: relative;
}

header nav ul li {
    display: inline-block; 
    padding: 5px;
    margin-left: 10px
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-size: 125%;
}

.hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 5px solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.content {
    position: relative;
    margin-bottom: 3px;
    padding: 50px;
    background-color: #f7f7f7;
    color: black;
    border-bottom: 5px solid black;
}

.content img {
    border-radius: 50%;
}

.content h2 {
    font-size: 40px;
    text-decoration: underline;
    padding: 2px;
}

.float {
    float: left;
    margin-right: 50px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid black;
    justify-content: center;
}

.work h2 {
    font-size: 40px;
    text-decoration: underline;
    padding: 2px;
    margin-left: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 7%;
    margin-bottom: 10px;
  }
  
  .justify-center {
    justify-content: center;
  }

.projectxl {
    margin: auto;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    width: 40%; 
    margin-bottom: 10px;
    margin-top: 10px;
}

.projectxl h3 {
    padding: 20px;
    color: white;
    background-color: #2874a6;
    border-bottom: 5px solid black;
    font-size: 28px;
    text-align: center;
}

.projectxl img {
    width:100%;
}

.projects {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width:35%;
}

.projects h3 {
    padding: 20px;
    color: white;
    background-color: #2874a6;
    border-bottom: 5px solid black;
    font-size: 28px;
    text-align: center;
}

.projects img {
    width:100%;
}

footer{
    padding: 20px;
    font-family: "calibri", sans-serif;
    background-color: #2874a6;
    color: white;
    text-indent: 40px;
}

footer h4 {
    display: inline;
    color: white;
    font-size: 44px;
    text-decoration: underline;
}

footer nav {
    padding-top: 10px;
    margin-right:20px;
    float: right;
    font-size: 24px;
    color: white;
}

footer nav ul {
    list-style-type: none;
    position: relative;
}

footer nav ul li {
    display: inline-block; 
    padding: 5px;
    margin-left: 10px
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 920px) {
    .projectxl {
      width:50%;
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 920px) {
    .work h2 {
      position: absolute;
      margin: auto;
    }
  }